@model ChangePasswordModel

@{
    Layout = "__HomeLayout";
    ViewData["Title"] = "Change Password";
}



<h4 class="card-header">Rest Passowrd</h4>
<hr />
<div class="card-body">
    <form asp-action="ChangePassword" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="CurrentPassord" class="control-label"></label>
            <input asp-for="CurrentPassord" placeholder="Enter Password" class="form-control card" />
            <span asp-validation-for="CurrentPassord" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword" class="control-label"></label>
            <input asp-for="NewPassword" placeholder="Confirm Password" class="form-control card" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="control-label"></label>
            <input asp-for="ConfirmPassword" placeholder="Confirm Password" class="form-control card" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </form>

</div>
@*</div>*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
