@{
    Layout = "__HomeLogin";
    ViewData["Title"] = "Email Confirmed";
}
<h1 class="alert-primary card-header">Email Confmation</h1>
<div class="alert-primary font-weight-bolder card-body">
    Email Confirmed Successfull , Please Login ....
</div>
