@{
    Layout = "__HomeLogin";
    ViewData["Title"] = "Error Occured";
}
<h1 class="alert-danger card">Email Confmation</h1>
<div class="alert-danger font-weight-bold card-body">
    Somthing went wrong Please try again
</div>