@{
    Layout = "__HomeLogin";
    ViewData["Title"] = "Forgot Password";
}
<h1 class="alert-info card">Thumeka</h1>
<div class="alert-primary font-weight-bolder card-body">
    Email Verification Was Sent To Your Email Address<br />
</div>


