@model ForgotPasswordModel

@{
    Layout = "__HomeLogin";
    ViewData["Title"] = "Forgot Password";
}

<h4 class="card-header">Forgot Passowrd</h4>
<hr />
<div class="card-body">
    @*<div class="col-md-4">*@
        <form asp-action="ForgortPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" placeholder="Email Address" class="form-control card" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>

    @*</div>*@
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
