@{
    Layout = "__HomeLogin";
    ViewData["Title"] = "Password Changed";
}
<h1 class="alert-primary card-header">Email Confmation</h1>
<div class="alert-primary font-weight-bolder card-body">
    Password Changed Successfull , Please Login ....
</div>
