@{
    Layout = "__HomeLogin";
    ViewData["Title"] = "SignUp";
}
<div class="card align-content-center">
    <div class="card-body">
        <div class="card">
            <form method="Post" action="Welcome">
                <input type="submit" class="btn btn-sm btn-dark form-control" value="Drive with us" asp-route-I="@true" />
            </form>
        </div>
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        <div class="card">
            <form method="Post" action="Welcome">
                <input type="submit" class="form-control btn btn-sm btn-info" value="Request Driver" asp-route-I="@false" />
            </form>
        </div>
    </div>
</div>
