@{
    Layout = "__HomeLayout";
    ViewData["Title"] = "Create Post";
}
<div class="card-heade text-center">
    Create Post
</div>
<div class="card align-content-center">
    <div class="card-body">
        <div class="card">
            <form method="get" asp-controller="Post" asp-action="Lost">
                <input type="submit" class="btn btn-sm btn-dark form-control" value="Lost"  />
            </form>
        </div>
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        <div class="card">
            <form method="get" asp-controller="Post"  asp-action="Found">
                <input type="submit" class="form-control btn btn-sm btn-info" value="Found" />
            </form>
        </div>
    </div>
</div>
