@{
    Layout = "__HomeLayout";
    ViewData["Title"] = "Successfuly";
}
<br />
<div class="card-body">
    <div class="alert alert-primary font-weight-bold text-center card">
        Added Successfuly
    </div>
</div>
