@model CategoryLostModel
@{
    Layout = "__HomeLayout";
    ViewData["Title"] = "Lost Category";
}
<h3 class="card-header">Lost Category</h3>
<br />
<div class="card-title alert-heading">
    @ViewBag.Added
</div>
<form method="post" asp-action="CreateLCategory">
    <div class="card-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="CategoryLostName" class="control-label"></label>
            <input asp-for="CategoryLostName" placeholder="Enter Category" class="form-control" />
            <span asp-validation-for="CategoryLostName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" style="width:auto" value="Submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>
