
@{
    Layout = "__HomeLayout";
    ViewData["Title"] = "Error 404";
}
<h1 class="alert alert-danger card-header">Error 404 - Not Found</h1>
<br />
<div class=" aler alert-danger font-weight-bold card-body">
  The Page You looking for may have be Removed or Changed . Please Contact the owner for further Assistance .
</div>