@{
    Layout = "__HomeLayout";
    ViewData["Title"] = "Succesful";
}
<br />
<div class="card-body">
    <div class="alert alert-primary font-weight-bold text-center card">
        Infomation Added Successful . unable to send notifying email 
    </div>
</div>
